body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
h1 {
  text-align: center;
  margin-top: 100px;
  font-family: 'Black Han Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 105px;
  text-align: center;
  letter-spacing: -12px;
}

h1 span:nth-child(1) {
  color: #4285f4;
}
h1 span:nth-child(2) {
  color: #ea4335;
}
h1 span:nth-child(3) {
  color: #fcc629;
}
h1 span:nth-child(4) {
  color: #4285f4;
}
h1 span:nth-child(5) {
  color: #34a853;
}
h1 span:nth-child(6) {
  color: #ea4335;
}

.button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
  width: 268px;
  margin: 0 auto;
  margin-top: 26px;
}

.button-box button {
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  margin-left: 20px;
  cursor: pointer;
  border: none;
  opacity: 0.7;
  padding: 5px 10px;
}
.button-box button:nth-child(2) {
  height: 30px;
}

.headerArea {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}
.headerArea .left {
  margin-top: 25px;
}
.headerArea .left a {
  margin: auto 13px;
}

.headerArea .right a {
  margin: 0 10px;
}

.headerArea .right i {
  position: relative;
  top: 9px;
  border: 5px solid white;
}
.headerArea .right img {
  position: relative;
  top: 17px;
  border: 5px solid white;
  margin-right: 5px;
}

.headerArea .right i:hover {
  border: 5px solid rgb(247, 241, 241);
  border-radius: 50%;
}

.headerArea .right img:hover {
  border: 5px solid rgb(247, 241, 241);
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/*인풋창 배치 다시*/

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container {
  position: relative;
  display: inline-block;
  width: 50%;
  text-align: center;
}

.right-con {
  font-size: 20px;
  color: #759ad4;
}

.search-container input {
  width: calc(100% - 100px); /* 아이콘들의 총 너비만큼 감소시킵니다. */
  padding-left: 50px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  outline: none;
  height: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.search-container i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
}

.search-container .fa-magnifying-glass {
  left: 30px;
}

.search-container .bxs-microphone {
  right: 55px;
}

.search-container .bxs-keyboard {
  right: 30px;
}

.search-container input::placeholder {
  font-size: 14px;
  color: #999;
}

@media screen and (max-width: 500px) {
  .search-container input::placeholder {
    visibility: hidden;
  }
  /*
  .search-container input::placeholder {
    font-size: 12px;
    color: #999;
  }*/

  .search-container input {
    width: 80%;
    padding-left: 45px;
    margin: 0 auto;
  }
  .search-container .fa-magnifying-glass {
    left: 10px;
  }

  .search-container .bxs-microphone {
    right: 25px;
  }

  .search-container .bxs-keyboard {
    right: 3px;
  }
  h1 {
    font-size: 70px;
    letter-spacing: -8px;
  }
  .headerArea .left {
    display: none;
  }
  .linkArea {
    display: none;
  }
}

/*링크 영역*/
.linkArea {
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  margin-top: 20px;
}

.linkArea a {
  display: flex;
  flex-direction: column; /* 수직 방향으로 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  text-decoration: none; /* 링크에 밑줄 제거 */
  color: #333; /* 링크 색상 설정 */
  margin: 10px 50px; /* 각 링크 사이의 간격 설정 */
}

.linkArea .icon {
  margin-bottom: 5px; /* 아이콘과 제목 사이의 간격 설정 */
  border-radius: 10px;
  background-color: #e9eff7;
  padding: 10px;
}

.linkArea .icon:hover {
  background-color: #e0e7e7;
}

.linkArea .title {
  font-size: 14px; /* 제목 폰트 크기 설정 */
  margin-top: 5px;
}
